/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
is-liked — для обозначения состояния лайкнутой иконки в виде сердца
card__like-button — для кнопки Like рядом с иконкой
button__text — для обозначения текстового элемента внутри кнопки
card__icon-button — для кнопки, оборачивающей иконку
card__icon-button — для кнопки, оборачивающей иконку
like-icon — для svg-иконки анимированного сердца

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text, #000);
  font-family: var(--main-font, 'Inter-Variable', sans-serif);
  font-size: var(--font-size-card, 18px);
  background-color: var(--background-color-section, #fff);
  background-image: var(--gradient-to-right, repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px)),
  var(--gradient-to-bottom, repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px)),
  var(--gradient-to-saturation, linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--main-text-weight, 400);
}

.header {
  margin-inline: var(--margin-section, clamp(0rem, -8.1426rem + 34.7418vw, 23.125rem));
  border: #000 solid 2px;
  padding: clamp(7.625rem, 7.493rem + 0.5634vw, 8rem) 0 clamp(7.625rem, 7.493rem + 0.5634vw, 8rem);
  font-family: var(--accent-font, 'PressStart2P', fantasy);
  text-align: center;
  background-color: var(--background-color-section, #fff);
  inline-size: var(--inline-size-section, clamp(371px, 100%, 700px));
}

.page__header {
  margin-block: var(--margin-block, 100px);
}

.header__title {
  padding-block-end: var(--padding-block-end-title, 20px);
  font-weight: var(--main-text-weight, 400);
  font-size: var(--font-size-title, clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem));
}

.header__subtitle {
  font-weight: var(--main-text-weight, 400);
  font-size: var(--font-size-subtitle, clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem));
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin-inline: var(--margin-section, clamp(0rem, -8.1426rem + 34.7418vw, 23.125rem));
  margin-block-end: var(--margin-block-end-card, 50px);
  border: #000 solid 2px;
  background-color: var(--background-color-section, #fff);
  inline-size: var(--inline-size-section, clamp(371px, 100%, 700px));
}

.card__title {
  padding-inline: var(--padding-inline-card-title, 10px);
  padding-block: var(--padding-block-card-title, 5px);
  font-size: var(--font-size-card, 18px);
  font-variation-settings: 'wght' var(--accent-text-weight, 700);
}

.card__image__block {
  position: relative;
}

.card__image__block-label {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  font-family: var(--accent-font, 'PressStart2P', fantasy);
  font-size: var(--font-size-button-text, 14px);
  text-shadow: 0 0 1px var(--color-outline, #fff);
  mix-blend-mode: hard-light;
  inset-inline-end: var(--inset-inline-card-image-block-label, clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem));
  inset-block-start: var(--inset-block-card-image-block-label, 25px);
}

@supports((text-stroke: 1px var(--color-outline, #fff)) or (-webkit-text-stroke: 1px var(--color-outline, #fff))) {
  .card__image__block-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color-outline, #fff);
    text-stroke: 1px var(--color-outline, #fff);
  }
}

.card__image__block-picture {
  display: block;
  border-top: #000 solid 2px;
  border-bottom: #000 solid 2px;
  object-fit: cover;
  object-position: center;
  block-size: var(--size-card-image-block-picture, clamp(375px, 100%, 696px));
  inline-size: var(--size-card-image-block-picture, clamp(375px, 100%, 696px));
  aspect-ratio: 1 / 1;
}

.filter_sepia {
  filter: sepia(0.5);
}

.filter_hue-rotate {
  filter: hue-rotate(0.5turn);
}

.filter_blur {
  filter: blur(1.5px);
}

.filter_invert {
  filter: invert(100%);
}

.filter_contrast {
  filter: contrast(130%);
}

.filter_contrast-grayscale {
  filter: grayscale(100%) contrast(100%);
}

.filter_brightness {
  filter: brightness(50%);
}

.filter_saturate {
  filter: saturate(200%);
}

.card__text__block p {
  padding-inline-start: var(--padding-inline-start-card-text-block, 25px);
  padding-inline-end: var(--padding-inline-end-card-text-block, 29px);
  padding-block-end: var(--padding-block-end-card-content, 27px);
  line-height: var(--line-height-text, 21px);
}

.card__text__block p:first-of-type {
padding-block-start: var(--padding-block-start-card-text, 25px);
}

.card__text__block p:last-of-type {
  --padding-block-end-card-content: 0;
  padding-block-end: var(--padding-block-end-card-content, 0);
}

.card__icon__block {
  display: flex;
  justify-content: flex-end;
  padding-inline-end: var(--padding-card-icon-block, 25px);
  padding-block-start: var(--padding-card-icon-block, 25px);
  padding-block-end: var(--padding-card-icon-block, 25px);
}

.like-icon {
  cursor: pointer;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear;
  transition-delay: 0.03s;
}

.like-icon:hover .core {
  fill: var(--color-heart-accent, #000);
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: var(--color-heart, #FF0000);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
  fill: var(--color-heart, #FF0000);
  transition: fill 0.3s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--color-heart-accent, #000);
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon:active .main-body {
  fill: var(--color-heart, #FF0000);
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon.is-liked .main-body {
  fill: var(--color-heart, #FF0000);
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon .contour {
  fill: var(--color-heart-contour, #000);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--color-heart-contour-accent, #FF0000);
  transition: fill 0.3s linear;
  transition-delay: 0.06s;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  transform-origin: center;
  animation: sparks 0.3s 0.3s ease-in;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: like 0.3s ease-in 0.1s 1;
}

.card__icon-button {
  margin-right: 5px;
  border: transparent solid 2px;
  padding: 0;
  background-color: inherit;
  block-size: var(--block-size-heart-button, 38px);
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  border: transparent solid 2px;
  outline: none;
}

.card__icon-button:focus-visible {
  border: #000 solid 2px;
  outline: none;
}

.card__like-button {
  inline-size: var(--inline-size-like-button, 130px);
}

.button_interactive {
  position: relative;
  border: #000 solid 2px;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--background-color-section, #fff);
  transition: box-shadow 0.3s ease;
}

.button_interactive::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color-button-accent, #000);
  transition: transform 0.50s ease-in-out;
  transform: translateX(-100%);
}

.button_interactive:hover::before {
  transform: translateX(0);
}

.button_interactive:focus {
  outline: none;
}

.button_interactive:focus-visible {
  box-shadow: 2px 2px 0 #000;
  outline: none;
}

.button__text {
  position: relative;
  color: var(--accent-color-text, #fff);
  font-family: var(--accent-font, 'PressStart2P', fantasy);
  font-weight: var(--main-text-weight, 400);
  font-size: var(--font-size-button-text, 14px);
  text-align: center;
  mix-blend-mode: difference;
}

.save {
  display: flex;
  justify-content: center;
  margin-block-end: var(--margin-block, 100px);
}

.save__button {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: var(--padding-block-save, 15px);
  line-height: var(--line-height-save-button, 90%);
}

.floppy {
  justify-self: end;
  color: var(--accent-color-text, #fff);
  mix-blend-mode: difference;
  block-size: var(--floppy-size, 28px);
  inline-size: var(--floppy-size, 28px);
}

.save__dialog {
  grid-template-columns: min-content 1fr;
  align-items: center;
  column-gap: 20px;
  border: #000 solid 2px;
  padding-inline: 38.5px;
  padding-block: 30px;
  inline-size: clamp(341px, 80%, 353px);
}

.save__dialog[open] {
  display: grid;
  font-size: var(--font-size-button-text, 14px);
  line-height: var(--line-height-save-dialog, 150%);
}

.floppy__dialog {
  justify-self: end;
  color: var(--accent-color-text, #fff);
  mix-blend-mode: difference;
  block-size: var(--floppy-dialog-size, 39px);
  inline-size: var(--floppy-dialog-size, 39px);
}

.save__dialog::backdrop {
  background-color: var(--background-color-save-dialog-back, rgba(0, 0, 0, 0.75));
}

.save__dialog__text {
  font-family: var(--accent-font, 'PressStart2P', fantasy);
  font-size: var(--font-size-button-text, 14px);
  line-height: var(--line-height-save-dialog, 150%);
  text-transform: uppercase;
}

.save__close-button {
  grid-column: 1/3;
  margin-block-start: var(--margin-block-start-save-close-button, 30px);
  padding-block: var(--padding-block-save-button, 12.5px);
  font-family: var(--accent-font, 'PressStart2P', fantasy);
  font-size: var(--font-size-button-text, 14px);
  line-height: var(--line-height-save-button, 90%);
  text-align: center;
  text-transform: uppercase;
}

.save__close-button-text {
  color: var(--accent-color-text, #fff);
  mix-blend-mode: difference;
}

@media (width >= 1440px) {
  .save__button {
    flex-direction: row;
  }

  .floppy {
    block-size: var(--floppy-size, 21px);
    inline-size: var(--floppy-size, 21px);
  }
}
